/* telas variadas */
div.inventario{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
div.inventario > div#background-inv{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: rgba(122, 122, 122, 0.788);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.inventario > div#background-inv > div.close-inv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 8%;
}
div.inventario > div#background-inv > div.close-inv > button{
    font-size: 1.5rem;
    width: 80%;
    height: 70%;  
    border-radius: 10px;
    border: solid 1px black;
    background-color: rgba(39, 39, 39, 0.815);
    color: white;
    transition: transform 0.2s ease-in-out;  
}
div.inventario > div#background-inv >  div.close-inv > button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
div.inventario > div#background-inv > div#fundo-inv{
    display: flex;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.69);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens{
    display: flex;
    width: 45%;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    scale: 1.2;
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div#buff-1{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 40px;
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div#buff-2{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 40px;
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div.itens > h1{
    font-size: 1.5rem;
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div.itens > p{
    font-size: 0.8rem;
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div.itens > div.button{
    display: flex;
    width: 30%;
    height: 15%;  
    align-items: center;
    flex-direction: column;  
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div.itens > div.button > button{
    font-size: 1.3rem;
    width: 100%;
    height: 100%;  
    transition: transform 0.2s ease-in-out;  
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div.itens > div.button > button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
div.inventario > div#background-inv > div#fundo-inv > div.coluna-itens > div.itens > div.button > p{
    font-size: 1.2rem;
}
