*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 27, 27);
}
/* header */
header{
    display: flex;
    width: 100%;
    height: 5%;
    background-color: rgba(255, 255, 255, 0.192);
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: space-between;
    color: white;
}
header > h1{
    margin: 0px 10px;
    font-size: 1.8rem;
    font-weight: bold;

}
/* main */
main{
    display: flex;
    width: 100%;
    height: 92%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main > div.level{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20%;
    height: 0%;
}
main > div.level > h1{
    color: white;
    font-size: 2.2rem;
    text-align: center;
}
main > div.bola{
    position: relative;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background-color: red;
    animation: movimentacao-bola 2s ease infinite;
}
main > div.bola:hover{
    cursor: pointer;
}
main > div.bola > div.olhos{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
main > div.bola > div.olhos > div{
    width: 20%;
    height: 35%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
main > div.bola > div.boca{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}
main > div.bola > div.boca > div{
    width: 60%;
    height: 20%;
    background-color: rgb(0, 0, 0);
}
main > div.menu{
    display: flex;
    position: relative;
    top: 25%;
    width: 90%;
    height: 20%;
    background-color: rgba(50, 42, 168, 0.37);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
main > div.menu > div.equips{
    display: flex;
    width: 20%;
    height: 80%;
    background-color: rgb(161, 161, 161);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
main > div.menu > div.equips > .button{
    font-size: 1.2rem;
    width: 80%;
    height: 40%;
    background-color: rgba(172, 255, 47, 0.534);
}
main > div.menu > div.equips > .button:hover{
    background-color: rgba(121, 196, 8, 0.534);
    scale: 1.1;
    cursor: pointer;
}
main > div.menu > div.hp-boss{
    display: flex;
    width: 50%;
    height: 80%;
    background-color: rgb(161, 161, 161);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
main > div.menu > div.hp-boss > div.hp-barra{
    display: flex;
    width: 90%;
    height: 30%;
    background-color: rgba(139, 0, 0, 0.61);
    border-radius: 10px;

}
main > div.menu > div.hp-boss > div.hp-barra > div.hp-vida{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 10px;

}
main > div.menu > div.hp-boss > div.hp-barra > div.hp-numero{
    display: flex;
    position: fixed;
    left: 50%;
    top: 82%;
    translate: calc(-50%);
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10;
}
main > div.menu > div.equipamentos{
    display: flex;
    width: 20%;
    height: 80%;
    background-color: rgb(161, 161, 161);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
/* footer */
footer{
    display: flex;
    width: 100%;
    height: 3%;
    background-color: rgba(255, 255, 255, 0.192);
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    color: white;
}
footer > p{
    font-weight: bold;
    font-size: 1rem;
}

/* animations */
@keyframes movimentacao-bola {
    0%{
        bottom: 0%;
    }
    50%{
        bottom: 8%;
    }
    100%{
        bottom: 0%;
    }
}