*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 27, 27);
}
/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.192);
    width: 80%;
    height: 90%;
}
main > div.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 90%;
}
main > div.menu > div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
}
main > div.menu > div.logo > h1{
    font-size: 3.5rem;
    color: white;
    text-shadow: black 5px 5px;
}
main > div.menu > div.configuracoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
}
main > div.menu > div.configuracoes > div.grafico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 10%;
    margin: 10px 0px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
}
main > div.menu > div.configuracoes > div.grafico:hover{
    cursor: pointer;
    transform: scale(1.2);
}
main > div.menu > div.configuracoes > div.grafico > p{
    font-size: 1.8rem;
    color: white;
}
main > div.menu > div.configuracoes > a{
    width: 40%;
    height: 8%;
    margin: 10px 0px;
    text-decoration: none;
}
main > div.menu > div.configuracoes > a > div.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 10px 0px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}
main > div.menu > div.configuracoes > a > div.botao:hover{
    cursor: pointer;
    transform: scale(1.2);
}
main > div.menu > div.configuracoes > a > div.botao > p{
    font-size: 1.5rem;
    color: white;
}